@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&family=Roboto:wght@100;300&display=swap");

.parent_welcome {
  display: flex;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 3vh 5vh 3vh 3vh;
  background: black;
  color: rgb(245, 246, 247);
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 5vh;
}
.logos {
  /* width: 100px; */
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  margin-left: 1vw;
}
.logos .dummy {
  font-size: 1.3rem;
  margin: 0 0.3vw;
  border: 0.3px solid transparent;
}
.logos .logoName {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  /* margin-left: 5px; */
}
.adminBtn {
  font-weight: 500;
  transition: all ease 0.5s;
}
.adminBtn:hover {
  transform: scale(1.1);
  transition: all ease 0.5s;
}
.walletBtn {
  font-weight: 500;
  transition: all ease 0.5s;
}
.walletBtn:hover {
  transform: scale(1.05);
  transition: all ease 0.5s;
}
.buttons {
  display: flex;
}
.buttons div {
  font-size: 1.3rem;
  margin: 0 1.5vw;
  border: 0.3px solid white;
}
.welcome_msg h1 {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.15em;
  white-space: nowrap;
  margin: 0 auto;
  padding: 10px;
}

.choose_profile {
  width: 50%;
  display: block;
  margin: auto;
  /* border: 1px black solid; */
  /* border-radius: 1rem; */
  height: 60vh;
  margin-top: 5vh;
}
.profile_investor {
  width: 50%;
  float: left;
  /* background-color: blue; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(7, 7, 7, 0.594);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  background-image: url("../public/investor.png");
  background-position: top;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 55%;
}
.profile_asker {
  width: 50%;
  float: right;
  /* background-color: rgb(255, 0, 179); */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  background-image: url("../public/asker.png");
  background-position: top;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 60%;
}
/* .investorCase {
  margin-right: 50px;
} */

.askerCase {
  margin-left: 10px;
}
.choose_profile a {
  transition: 0.5s ease-in-out all;
  position: relative;
  top: 15vh;
}
.choose_profile a:hover {
  transform: scale(1.2);
  transition: 0.5s ease-in-out all;
  /* font-weight: 100; */
  cursor: pointer;
}
